# Core
pandas
numpy
joblib
scikit-learn

# Visualization
matplotlib
plotly

# Web App
streamlit

# Utilities
requests
python-dotenv

# PDF / Report
reportlab

# Firebase Integration
firebase-admin
